
*.pdb
ReSharper
_ReSharper.*
WorkDaysCalendar.5.1.ReSharper.user
WorkDaysCalendarTest/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
WorkDaysCalendar/bin/Debug/WorkDaysCalendar.dll
WorkDaysCalendar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WorkDaysCalendar/obj/Debug/WorkDaysCalendar.csproj.FileListAbsolute.txt
WorkDaysCalendar/obj/Debug/WorkDaysCalendar.dll
WorkDaysCalendarTest/bin/Debug/WorkDaysCalendarTest.vshost.exe
WorkDaysCalendarTest/bin/Debug/WorkDaysCalendarTest.vshost.exe.manifest
WorkDaysCalendarTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WorkDaysCalendarTest/obj/x86/Debug/ResGen.read.1.tlog
WorkDaysCalendarTest/obj/x86/Debug/ResGen.write.1.tlog
WorkDaysCalendarTest/obj/x86/Debug/ResolveAssemblyReference.cache
WorkDaysCalendarTest/obj/x86/Debug/WorkDaysCalendarTest.csproj.FileListAbsolute.txt
WorkDaysCalendarTest/obj/x86/Debug/WorkDaysCalendarTest.exe
WorkDaysCalendarTest/obj/x86/Debug/WorkDaysCalendarTest.Main.resources
WorkDaysCalendarTest/obj/x86/Debug/WorkDaysCalendarTest.Properties.Resources.resources
WorkDaysCalendarTestProject/obj/Debug/WorkDaysCalendarTestProject.dll
WorkDaysCalendarTestProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WorkDaysCalendarTestProject/obj/Debug/WorkDaysCalendarTestProject.csproj.FileListAbsolute.txt
WorkDaysCalendarTestProject/obj/Debug/ResolveAssemblyReference.cache
WorkDaysCalendarTestProject/bin/Debug/TestResults/*
TestResults/*

Local.testsettings
TraceAndTestImpact.testsettings
WorkDaysCalendar.6.5.TeamCity.user
WorkDaysCalendar.sln.docstates
WorkDaysCalendar.vsmdi
WorkDaysCalendar/obj/Debug/WorkDaysCalendar.csprojResolveAssemblyReference.cache
WorkDaysCalendarTest/obj/x86/Debug/*
WorkDaysCalendarTestProject/obj/*